include ../includes/mixins
block vars

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="css/vendor.css")
    link(rel="stylesheet", href="css/main.css")
    title=pageTitle
  body.loading.fix
    include ../modules/preloader

    include ../modules/header

    block content

    include ../modules/footer

    script(src="js/vendor.js")
    script(src="js/main.js")