footer.footer
  .content.footer__top
    .logo.logo_inverted.footer__logo
      a.logo-link(href="#")
        +svg-icon("logo")
    .footer__phones
      a(href="tel:+49305557322") EU: +49 30 555 7322
      a(href="tel:+14158004497") US: +1 415 800 4497
    .footer__email
      a(href="mailto:info@gohub.ee") info@gohub.ee
    .footer__social
      a(href="http://linkedin.com" title="LinkedIn")
        +svg-icon("linkedin")
      a(href="http://facebook.com" title="Facebook")
        +svg-icon("facebook")
      a(href="http://twitter.com" title="Twitter")
        +svg-icon("twitter")
      a(href="http://github.com" title="Github")
        +svg-icon("github")
  p.footer__copyright.content &copy; 2019 Developed by 
    a(href="https://irinashv.github.io") IrinaSh

