.cover {
  width: 47rem;
  height: 100vh;
  margin-top: -15rem;
  padding-top: 15rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: center;
  .title_main {
    margin-bottom: 4rem;
  }
  @include media(xl) {
    width: 45%;
  }
  @include media(lg) {
    width: 100%;
    height: auto;
    margin-top: 0;
    padding-top: 0;
    display: block;
  }
}
